<% @track.chords.each do |chord| %>
  <div class='row margin-chord' id='chord-<%= chord.id%>'>
    <div class='col-md-10'>
      <h4><%= chord.track.user.email %></h4>
      <div class='jtab'>
        <%= chord.tablature %>
      </div>
    </div>
    <div class='col-md-2'>
      <% if current_user == chord.user %>
        <%= link_to 'Destroy', [chord.track, chord], method: :delete, remote: true, class: 'btn btn-danger pull-right' %>
      <% end %>
    </div>
  </div>
<% end %>
