<%= form_for @track, class: 'form' do |f| %>
  <% if @track.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@track.errors.count, 'error') %> prohibited
        this note from being saved:
      </h2>
      <ul>
        <% @track.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name, class: 'notelist' %> 
    <%= f.text_field :name, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :description, class: 'notelist' %> 
    <%= f.text_area :description, rows: '6', value: '', type: 'text', class: 'form-control' %>
  </p>
  <br>
  <%= f.submit 'Create track', class: 'btn btn-success' %>
  <%= link_to 'Back', tracks_path, class: 'btn btn-danger' %>
<% end %>
