<div class='row'>
  <div class='col-md-12'>
    <center>
    <form action = "" method = "post">
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D '; return false;" value = "D" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='Dm '; return false;" value = "Dm" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D+ '; return false;" value = "D+" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D# '; return false;" value = "D#" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#m '; return false;" value = "D#m" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#+ '; return false;" value = "D#+" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='Dmaj7 '; return false;" value = "Dmaj7" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#maj7 '; return false;" value = "D#maj7" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='Dsus4 '; return false;" value = "Dsus4" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#sus4 '; return false;" value = "D#sus4" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D6 '; return false;" value = "D6" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='Dm6 '; return false;" value = "Dm6" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#6 '; return false;" value = "D#6" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#m6 '; return false;" value = "D#m6" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D7 '; return false;" value = "D7" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='Dm7 '; return false;" value = "Dm7" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#7 '; return false;" value = "D#7" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#m7 '; return false;" value = "D#m7" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='Ddim7 '; return false;" value = "Ddim7" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#dim7 '; return false;" value = "D#dim7" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D7sus4 '; return false;" value = "D7sus4" />
      <input type="submit" class='btn btn-info' onclick="document.getElementById('text').value+='D#7sus4 '; return false;" value = "D#7sus4" />
    </form>
  </div>
</div>
