<div class='row'>
  <div class='col-md-12'>
    <center>
    <form action = "" method = "post">
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='E '; return false;" value = "E" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='Em '; return false;" value = "Em" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='E+ '; return false;" value = "E+" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='E# '; return false;" value = "E#" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='Emaj7 '; return false;" value = "Emaj7" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='Esus4 '; return false;" value = "Esus4" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='E6 '; return false;" value = "E6" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='Em6 '; return false;" value = "Em6" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='E7 '; return false;" value = "E7" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='Em7 '; return false;" value = "Em7" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='E#7 '; return false;" value = "E#7" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='Edim7 '; return false;" value = "Edim7" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='E9 '; return false;" value = "E9" />
      <input type="submit" class='btn btn-danger' onclick="document.getElementById('text').value+='Em9 '; return false;" value = "Em9" />
    </form>
  </div>
</div>
