<center>
  <h1>
    Welcome to guitar chord site
  </h1>
</center>
<div id='carousel' class='carousel slide'>
  <ol class='carousel-indicators'>
    <li class='active' data-target='#carousel' data-slide-to='0'></li>
    <li data-target='#carousel' data-slide-to='1'></li>
    <li data-target='#carousel' data-slide-to='2'></li>
  </ol>
    <div class='carousel-inner'>
      <div class='item active'>
        <%= image_tag 's1.jpg' %>
      </div>
      <div class='item'>
        <%= image_tag 's2.jpg' %>
      </div>
      <div class='item'>
        <%= image_tag 's3.jpg' %>
      </div>
    </div>
    <a href='#carousel' class='left carousel-control' data-slide='prev'>
      <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
    </a>
    <a href='#carousel' class='right carousel-control' data-slide='next'>
      <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
    </a>
</div>
<hr>
