<div class='container'>
  <div class='col-md-12'>
    <div class='well'>
      <h1>Guitar tabs</h1>
      <p>Guitar Pro - program, music notation editor, designed to create, edit, and listen to guitar tablature   and sheet music, and many other useful for guitarists (and not only) tool.</p>
      <p>
        Guitarists have their own special system of music notation called guitar tablature, or "guitar tabs" for short. Using guitar tabs, a guitarist can play a wide variety of music without ever having to learn how to read standard sheet music. Though guitar tabs aren't a perfect way of describing music, they've allowed newer generations of guitarists to quickly and easily share information about how to play songs across the globe via the internet. Every guitarist should have at least a basic understanding of how to read tablature - it's the de facto shorthand for much of the guitar music you'll find written out online.
      </p>
      <h1>guitartabs.com</h1>
      <p>Email:</p>
      <i class='fa fa-google-plus fa-3' aria-hidden='true'></i>
      <b>jtab.guitar@gmail.com</b>
    </div>
  </div>
</div>
